{
    "env": {
        "es6": true,
        "browser": true,
        jQuery: true
    },

    "extends": [
        "eslint:recommended"
    ],

    "rules": {
        "quotes": ["error", "single"],
        "indent": ["error", 2]
    }
}
